{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-12 col-md-5">
      <img class="img-responsive" src="/static/img/headshot1.png">
    </div>
    <div class="col-sm-12 col-md-7">
      <div>
	<h4>Jamie Thiessen is a New York based actor singer and dancer</h4>
	<br>
	<br>
      </div>
      <div>
	<h3>The Lastest From Jamie</h3>
	<hr>
	<h4>August 2015</h4>
	  Jamie will be performing in Young Frankenstein at <a href="http://www.theatrebythesea.biz/young-frankenstein.html">Theater By The Sea</a> August 19th - September 6th.

	  <br>
	  <br>
	  <h4>June/July 2015</h4>
	  Jamie played "Marisa" in <i>Tech Support</i> at the <a href="http://planetconnections.org/2015-full-productions/tech-support-circe-and-j-train/">Planet Connections Festival</a> June 20th - July 5th.
      </div>
    </div>
  </div>
</div>
{% endblock %}

